<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967848372324-5ocj4bpkpuo69jd2os7js9our1am5iqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967848372324-5ocj4bpkpuo69jd2os7js9our1am5iqs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967848372324-isfodb35qk1e1n0eut0pfplvl7rlef7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAxKzSAW1mwrvard-9ge1IqUGHapwG_E4</string>
	<key>GCM_SENDER_ID</key>
	<string>967848372324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-54075</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-54075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967848372324:ios:fc3856c95b4451f3e6d771</string>
</dict>
</plist>